@page "/apps"
@using global::Shared.Models
@using global::Shared
@using global::Shared.Interfaces
@inject IDataService _dataService
<PageTitle>Apps Supporting UPI</PageTitle>
@if (ShowHeading)
{
    <h1>Apps Supporting UPI</h1>
}
<EditForm Model="@searchString" OnValidSubmit="@(_ => SubmitSearch())">
    <div class="row">
        <div class="col-md-8">
            <RadzenTextBox @bind-Value="@searchString.Query" Style="width:100%" Placeholder="Search apps..." />
        </div>
        <div class="col-md-2">
            <Radzen.Blazor.RadzenButton ButtonType="ButtonType.Submit" Click="@(_ => SubmitSearch())" Raised="true" Icon="refresh">Search</Radzen.Blazor.RadzenButton>
        </div>
    </div>
</EditForm>
<br />

<ul class="appList_appList__Lqce0 appList_popularList__wSCQd">
    @foreach (var i in apps)
    {
        <li class="prettyApp_app__csxfj" style="cursor: auto;opacity: 1">
            <div>
                <h6 class="prettyApp_imgHeader__FkohJ">@i.Name</h6>
                <div class="prettyApp_imgContainer__ZYSkU">
                    <picture>
                        <img src="@StaticContent.StaticUrl/logo/@i.LogoLink" alt="Logo @(i.Name)" draggable="false"/>
                    </picture>
                </div>
                @if (!string.IsNullOrWhiteSpace(@i.PageLink))
                {
                    <a class="prettyApp_moreInfo__QdzEa" href="@i.PageLink">
                        <span>
                            More Info
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </span>
                    </a>
                }

                <div class="row">
                    <a href="@i.PlayStoreLink">
                        <picture>
                            <img style="width: 150px; height: 50px" src="@StaticContent.StaticUrl/logo/download-play-store.png" alt="Logo Play Store" draggable="false"/>
                        </picture>
                    </a>
                    <a href="@i.AppStoreLink">
                        <picture>
                            <img style="width: 150px; height: 50px" src="@StaticContent.StaticUrl/logo/download-app-store.png" alt="Logo App Store" draggable="false"/>
                        </picture>
                    </a>
                </div>
            </div>
        </li>
    }
</ul>


@code {


    [Parameter]
    public bool ShowHeading { get; set; } = true;
    IEnumerable<AppResponse> allList = new List<AppResponse>();
    IEnumerable<AppResponse> apps = new List<AppResponse>();
    SearchModel searchString = new SearchModel();
    protected override async Task OnInitializedAsync()
    {
        allList = await _dataService.GetApps();
        apps = allList;
    }
    void SubmitSearch()
    {
        if (!string.IsNullOrWhiteSpace(searchString.Query))
        {
            apps = allList.Where(c =>

                c.Name.Contains(searchString.Query, StringComparison.InvariantCultureIgnoreCase)
                || c.Tags.Contains(searchString.Query, true)
                );
        }
        StateHasChanged();
    }
}
